.grid_root {
  position: relative;
  &::after {
    clear: both;
  }
  .shadowGrid {
    width: 100%;
    .shadowRow {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      height: 150px;
      justify-content: flex-start;
      gap: 20px;
      margin-bottom: 20px;
      .shadowCol {
        height: 100%;
        border: 1px dashed blue;
        box-sizing: border-box;
        flex-shrink: 0;
        flex-grow: 1;
      }
    }
  }
  .ghost {
    top: 0;
    left: 0;
    background-color: #d6d6ff;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    opacity: 0.5;
    display: none;
    transition-property: width, height, top, left;
    transition-duration: 0.2s;
  }
  .widget_container {
    position: absolute;
    &.snapped {
      transition-property: width, height, top, left;
      transition-duration: 0.5s;
    }
    &.moving {
      opacity: 0.9;
      pointer-events: none;
      z-index: 10;
    }
    z-index: 3;
    .resizer {
      display: none;
      width: 10px;
      height: 10px;
      border-radius: 50%; /*magic to turn square into circle*/
      background: white;
      border: 3px solid #4286f4;
      position: absolute;
      &.topLeft {
        left: -5px;
        top: -5px;
        cursor: nwse-resize; /*resizer cursor*/
      }
      &.topRight {
        right: -5px;
        top: -5px;
        cursor: nesw-resize;
      }
      &.bottomLeft {
        left: -5px;
        bottom: -5px;
        cursor: nesw-resize;
      }
      &.bottomRight {
        right: -5px;
        bottom: -5px;
        cursor: nwse-resize;
      }
    }
    &:hover {
      .resizer {
        display: block;
      }
    }

    .dragger {
      border: 1px solid black;
      height: 20px;
      width: 20px;
      position: absolute;
      bottom: 0;
      right: 20;
    }
  }
  &.moving {
    .widget_container {
      &.snapped {
        opacity: 0.7;
      }
    }
  }
}
